<%= javascript_pack_tag "header.js" %>
<div id='menu justify-content text-end'>
  <div class='pull-left justify-content'>
    <%= link_to 'お知らせ', articles_path, class: "btn btn-outline-secondary" %>
    <%= link_to '社員紹介', employees_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
<div class = "dropdown text-end">
  <button type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    <div class = mx-3 nav-trigger><%= "#{@current_user.last_name} #{@current_user.first_name}" %></div>
  </button> 
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
  </ul>
</div>

